:root {
    --l: 13%;
    --bg: hsl(0, 0%, var(--l));
    --glow: hsl(180, 100%, 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
}
/* 
.container {
    width: 472px;
    aspect-ratio: 1;
    border: 1px solid var(--glow;
} */

.spinner {
    --bg:hsl(180, 20%, 16%);
    width: 277px;
    border: 1px solid var(--glow);
    border-top: none;
    border-right: none;
    border-radius: 50%;
    aspect-ratio: 1;
    position: relative;

    background-image: conic-gradient(var(--bg) 170deg, var(--glow));

    animation: spin 2s linear infinite;

    box-shadow: 0 0 50px hsl(180, 50%, 30%);
}

.spinner::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-27%);
    width: 17%;
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: var(--glow);
    box-shadow: 0 0 5px var(--glow), 0 0 25px var(--glow), 0 0 50px var(--glow),
        0 0 100px var(--glow);

    z-index: 10;
}
.spinner::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--bg);
    transform: translate(-48%, -46%);
}

@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
