:root {
    --h: 120;
    --s: 100;
    --l: 25;
    --color: hsl(var(--h), calc(var(--s) * 1%), calc(var(--l) * 1%));
    --animation-delay: 0s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#animation-container {
    position: relative;
    width: 400px;
    height: 400px;
}

hr,
.child-1,
.child-2,
.child-3,
.child-4,
.child-5 {
    width: 170px;
    aspect-ratio: 1;
    position: absolute;
    border: 10px double var(--color);
    border-color: hsl(var(--h), calc(var(--s) * 1%), calc(var(--l) * 1%));
    /* border-radius: 20%; */

    display: flex;
    justify-content: center;
    align-items: end;

    animation: rotate 2.7s ease infinite;
    animation-delay: var(--animation-delay);
}

hr{
    width: 1px;
    border-width: 0 0 0 12px;
    border-style: dashed;
    /* border-style: dotted; */
    border-radius: 0;
    /* background-color: red; */
    height: 50%;

    animation: none;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
        /* border-style: dashed; */
    }
}
