:root {
    --h: 12;
    --s: 12;
    --l: 12;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: 100vh;

    background-color: brown;
}

.container {
    width: 400px;
    height: 300px;
    aspect-ratio: 1;
    background: linear-gradient(black,silver);

    transform-style: preserve-3d;
    /* animation: rotate-stage 16s linear infinite; */
}

@keyframes rotate-stage {
    from{transform: perspective(90vw) rotateX(92deg) rotateZ(0deg) translateZ(-17vh);}
    to{transform: perspective(90vw) rotateX(92deg) rotateZ(360deg) translateZ(-17vh);}
}

.md-stick-floor{
    width: 80px;
    /* aspect-ratio: 4/3; */
    height: 60px;
    background-color: red;

    /* transform: translateZ(60px); */
}